.container {
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
    font-family: "Montserrat", arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
}

.navigation {
    position: relative;
    z-index: 1;
    background-color: orange;
    display: flex;
    align-items: center;
}
.navigation--closed .navigation__list {
    display: none;
}
.navigation__toggle {
    position: absolute;
    right: 20px;
    top: 25px;
    width: 22px;
    height: 22px;
    display: none;
    background: url("/img/cross.svg") no-repeat top left;
    border: none;
    cursor: pointer;
}
.navigation--closed .navigation__toggle {
    background: url("/img/burger.svg") no-repeat top left;
}
.navigation__toggle--v {
    display: block;
}
.navigation-list {
    text-align: center;
    padding-bottom: 50px;
}

@media screen and (min-width: 576px) {
    .navigation__toggle {
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
   }
    .navigation--closed .navigation__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 0 auto;
        padding: 30px;
   }
    .navigation__toggle--v {
        display: none;
   }
    .navigation__list {
        padding: 0;
        margin: 0 auto;
        padding-top: 33px;
   }
   
   

}
.navigation-list {
    list-style: none;
}
.navigation-list__link {
    font-family: "Montserrat", arial, sans-serif;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
    color: white;
    
}



.navigation-list__link:hover {
    color: #828282;
}
.navigation__block {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-footer {
    z-index: 1;
    background-color: orange;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}
.page-footer_block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.page-footer_block-title {
    font-family: "Montserrat", arial, sans-serif;
    font-size: 12px;
    color: white;
}

.page-footer_block-text {
    color: white;
    font-family: "Montserrat", arial, sans-serif;
    font-size: 10px;
}

.page-footer_block-info {
    margin: 25px;
}

.page-footer_block-button {
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;

}

.footer_button {
    width: 160px;
    height: 50px;
    border-color: #ff5c00;
    border-radius: 60px;
    color: #ff5c00;
    font-size: 14px;
    font-family: "Montserrat", arial, sans-serif;
}


@media screen and (max-width: 576px) {
    .page-footer_block {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .page-footer_block-button {
        align-items: center;
    }
}

.connection {
    background: #e65c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    width: 100%;
    height: 700px;
    
}

.connection_block {
    padding: 100px;
}

.connection_block::before {
    content: '';
    background-image: url(./img/Saly-11_1.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    position: absolute;
    top: 30px;
    left: 670px;
    z-index: 2;
}

.connection_block-title {
    color: white;
    font-family: "Montserrat", arial, sans-serif;
    font-size: 30px;
    line-height: 45px;
}

.conection_block-button {
    width: 360px;
    height: 100px;
    border-color: yellowgreen;
    border-radius: 60px;
    color: yellowgreen;
    font-size: 28px;
    font-family: "Montserrat", arial, sans-serif;
    cursor: pointer;
}

.conection_block-button::after {
    content: "";
    width: 48px;
    height: 48px;
    z-index: 2;
    background-image: url(./img/icons8-интернет-48.png);
    position: absolute;
    top: 265px;
    left: 130px;
}

.conection_block-buttons {
    display: flex;
    flex-direction:row;
    padding: 45px;
}

.connection_block-pay {
    margin: 10px;
    width: 250px;
    height: 50px;
    font-size: 22px;
    font-family: "Montserrat", arial, sans-serif;
    color: #f9b536;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}

.connection_block-pay::before {
    content: '';
    width: 80px;
    height: 60px;
    background-image: url(./img/Cards.png);
    top: 480px;
    left: 50px;
    z-index: 2;
    position: absolute;
}

.connection_block-service {
    margin: 10px;
    width: 250px;
    height: 50px;
    font-size: 22px;
    font-family: "Montserrat", arial, sans-serif;
    color: #f9b536;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.connection_block-service::before {
    content: '';
    width: 80px;
    height: 60px;
    background-image: url(./img/service.png);
    top: 480px;
    left: 330px;
    z-index: 2;
    position: absolute;
}

.tarifs {
    background: #e65c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 30px;
}

.tarifs_title {
    color: white;
    text-align: center;
    font-size: 40px;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
}

.accordion {
}

.accordion-item {
    margin-bottom: 20px;
}

.accordion-item--active .accordion-item__trigger {
    background-color: #f9b536;
}

.accordion-item--active .accordion-item__content {
    display: block;
    background: #e65c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.accordion-item__trigger {
    padding: 20px;
    border: 1px solid orange;
}

.accordion-item__triger-title {
    color: white;
    font-size: 30px;
    text-align: left;
}

.accordion-item__content {
    padding: 20px;
    border: 1px solid orange;
    border-top: none;
    display: none;
}

.accordion-item__content-button {
    width: 100px;
    height: 55px;
    color: white;
    border-radius: 30px;
    background-color: transparent;
    border-color: white;
}



